* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* common */

.single {
    width: 32%;
    float: left;
    margin: calc(4% / 6)
}

.single .img {
    position: relative;
}

.single img {
    width: 100%;
}

.heart {
    position: absolute;
    top: 5px;
    right: 0;
}

.discount {
    position: absolute;
    bottom: 5px;
    left: 0;
}

.bg-red, .bg-green {
    color: white;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

/* single */
.container {
    width: 80%;
    margin: auto;
}











/* debug */
.container.debug {
    /* height: 500px; */
    background-color: aqua;
    border: 1px solid black;
}

.debug .single {
    border: 1px solid red;
}