* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.upper {
    text-transform: uppercase;
}

.red {
    color: red;
}

/* common */

.container {
    font-size: 25px;
}

.single {
    width: 32%;
    float: left;
    margin: calc(4% / 6)
}

.single .img {
    position: relative;
}

.single img {
    width: 100%;
}

img.hover {
    display: none;
}

.single:hover img.display {
    display: none;
}

.single:hover img.hover {
    display: block;
}

.heart {
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 50px;
    height: 70px;
    width: 70px;
    background-color: white;
    text-align: center;
}

.discount {
    position: absolute;
    bottom: 30px;
    left: 0;
}

.bg-red, .bg-green {
    color: white;
    padding: 5px;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

.price {
    margin-top: 20px;
}

/* single */
.container {
    width: 80%;
    margin: auto;
}











/* debug */
.container.debug {
    /* height: 500px; */
    background-color: aqua;
    border: 1px solid black;
}

.debug .single {
    border: 1px solid red;
}